{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Abbi", "Abel", "Addi", "Arnlau", "Audunn", "Auka", "Auni", "Bassi", "Bera", "Bikki", "Dana", "Dotta", "Eno", "Eir", "Elli", "Finna", "Keirlau", "Krein", "Kreip", "Krima", "Kunni", "Kunnleif", "Elki", "Ulti", "Inau", "Inkiber", "Inkifast", "Kalli", "Kasi", "Kori", "Kristin", "Mani", "Malmury", "Mar", "Mattis", "Miki", "Nanni", "Oddleif", "Rani", "Randi", "Sibba", "Sifrid", "Styll", "Safa", "Tobbi", "Tolla", "Uor", "Una", "Unnr", "Filli"]
    ]
  ]
}
