{
  "names" : [
    { "mode" : "alts" },
    [
      { "mode" : "serie" },
      [ { "mode" : "alts" }, "Abi", "Abel", "Adi", "Arnlau", "Audun", "Auka", "Auni", "Basi", "Bera", "Biki", "Dana", "Dota", "Eno", "Eir", "Eli", "Fina", "Keirlau", "Krein", "Kreip", "Krima", "Kuni", "Kunleif", "Elki", "Ulti", "Inau", "Inkiber", "Inkifast", "Kali", "Kasi", "Kori", "Kristin", "Mani", "Malmuri", "Mar", "Matis", "Miki", "Nanni", "Odleif", "Rani", "Randi", "Siba", "Sifrid", "Styl", "Safa", "Tobi", "Tola", "Uor", "Una", "Unr", "Fili"]
    ]
  ]
}
