{
  "converse" : {
    "thornurdrike" : {
      "default" : [
		"Has anythin' interestin' happened while yew were out there?",
		"Vould yew mind sharin' a few stories over a drink or two?",
		"Have yew been huntin' recently? Struck down anythin' vorthy o' mentionin'?",
		"Our rage menders're alvays on the brink o' becomin' feral, if they don't take proper care o' their an'er.",
		"I love the feelin' o' soft snow, landin' on mei open palm.",
		"Ever tried yewself at sleddin'?",
		"Have yew ever met a ''rage mender''? I've got nei idea how they're doin' it, but they can be channelin' their own anger for power!",
        ["Need some spare scrap pieces? I heard yew Akkimari can make equipment and such out o' it.", "I'm hopin' that this scrap can still be put to good use.", "money",101],
        ["Whuzzat? You want money? FINE!", "I already gave you my money! Go away!", ["money",69]]
      ],
      "apex" : [
        "no banana",
        ["take my banana", "did you enjoy the banana.", "banana"]
      ]
    }
  }
}